@font-face {
	font-family: "Minecraft";
	src: url("../font/pixel.ttf");
}

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

canvas {
	display: block;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1;
}

a, button, input, select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}

#overlay {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	background-color: #000000;
	color: #ffffff;
}

#overlay > div {
	text-align: center;
}

#overlay > div > button {
	height: 20px;
	background: transparent;
	color: #ffffff;
	outline: 1px solid #ffffff;
	border: 0px;
	cursor: pointer;
}

#overlay > div > p {
	color: #777777;
	font-size: 12px;
}

.MineCraftButton {
	height: 40px;
	width: 400px;
	outline: 2px solid black;
	margin: 50px auto;
	display: block;
	justify-content: center;
	align-items: center;
	background-image: url('http://charliecowan.co.uk/mcbuttongenerator/button_center.png');
	background-repeat: repeat;
	padding: 0;
	font-family: Minecraft;
	text-align: center;
	color: white;
	text-shadow: 3px 3px #4C4C4C;
	border-bottom: 4px solid #565656;
	border-right: 2px solid #565656;
	border-left: 2px solid #AAA;
	border-top: 2px solid #AAA;
	box-sizing: border-box;
	font-size: 16px;
}

.MineCraftButton span {
	position: relative;
	line-height: 40px;
	bottom: 3px;
}

.MineCraftButton:hover {
	border-bottom: 4px solid #59639A;
	border-right: 2px solid #59639A;
	border-left: 2px solid #BDC6FF;
	border-top: 2px solid #BDC6FF;
	background-image: url('http://charliecowan.co.uk/mcbuttongenerator/button_active_center.png');
	color: #FFFFA0;
}


